.narrow-col .lang-sec.infotilesec .field *{padding-bottom:0!important;font-size:10px}
.narrow-col .lang-sec.infotilesec .field *,.narrow-col .lang-sec.infotilesec .nativeLangPara .field{display:inline}
.narrow-col .lang-sec.infotilesec .sliced-rect{height:6px;width:100%;line-height:0;margin-top:3px;clear:both}        
.narrow-col .lang-sec.infotilesec .sliced-rect .sliced-rect-tile{height:100%;background-color:#e3e3e3;float:left;margin-right:3px}
.narrow-col .lang-sec.infotilesec .sliced-rect .sliced-rect-tile:last-child{margin-right:0}
.narrow-col .sliced-rect .sliced-rect-tile.ratvfill{background:linear-gradient(135deg, #9EC4D9 0%, #A0ABC6 99.97%)}
.narrow-col .inner-rating,.narrow-col .sliced-rect .sliced-rect-tile.ratvfill{position:relative}
.narrow-col .inner-rating::before,.narrow-col .sliced-rect .sliced-rect-tile.ratvfill::before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.5;background:linear-gradient(135deg, #9EC4D9 0%, #A0ABC6 99.97%)}
.narrow-col .lang-space{display:flex;flex-wrap:wrap;justify-content:space-between;}
.narrow-col .lang-space .colon{flex:1}


/* .right-box .lang-sec.infotilesec{padding-left:0px;display:flex;flex-wrap:wrap;justify-content:space-between} */
.narrow-col .lang-sec.infotilesec .heading{margin-left:-0px}
.narrow-col .lang-sec.infotilesec .paragraph{width:100%;display:block}
.narrow-col .lang-sec .paragraph.nativeLangPara .lang-scale{font-size:10px}_
.narrow-col .lang-sec .paragraph .lang-scale *,.narrow-col .lang-sec.infobarsec .paragraph .lang-scale *,.narrow-col .lang-sec.infotilesec .paragraph .lang-scale *{font-size:8px;line-height:11px;margin-top:5px}
.narrow-col .lang-sec .paragraph.nativeLangPara .lang-scale,.narrow-col .lang-sec .paragraph.nativeLangPara .lang-scale *{font-size:10px}