.hdr2{padding:25px 25px 20px 25px;position:relative;z-index:2;}
.hdr2 .topsection{align-items:center;display:flex;justify-content:space-between;}
.hdr2 .pict-sec{order:1;}
.hdr2 .name{color:#000;font-size:60px;font-weight:700;letter-spacing:1px;line-height:60px;padding-bottom:10px;text-align:left;text-transform:uppercase;word-break:break-word;}
.hdr2 .prfl-pic .field,
.hdr2 .monogram{border:10px solid #000000;border-radius:50%;box-sizing:border-box;height:169px;width:169px;}
.hdr2 .prfl-pic img{border-radius:50%;height:100%;object-fit:cover;width:100%;}
.hdr2 .prfl-pic,
.hdr2 .monogram{display:none;}
.hdr2.pict-purl .prfl-pic{display:block;}