.hdr1{
    padding: 25px 25px 40px 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.hdr1 .disp-blk{display:block}
.hdr1 .left-box {
    width: calc(100% - 127px);
}

.hdr1 .left-box {
    flex-grow: 1;
    align-self: flex-start;
}

.hdr1 .name-sec {
    padding-bottom: 10px;
    position: relative;
}

.hdr1 .name {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-break: break-word;
}

.hdr1 .prof-title {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.71px;
    text-transform: uppercase;
}

.hdr1 .name-sec::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(135deg, #9EC4D9 0%, #A0ABC6 99.97%);
    height: 1px;
    width: 100%;
    opacity: 0.5;
}
.hdr1 .prfl-pic .field::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 50%;
    background: linear-gradient(135deg, #9EC4D9 0%, #A0ABC6 99.97%);
}
.hdr1 .right-box {
    margin-bottom: -19px;
}

.hdr1 .pict-sec {
    margin-left: 30px;
}

.hdr1 .prfl-pic .field {

    border-radius: 50%;
    box-sizing: border-box;
}

.hdr1 .prfl-pic .field,.hdr1 .monogram{
    position: relative;
    width: 127px;
    height: 127px;
    padding: 8px;
}
.hdr1 .prfl-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 3;
}
.hdr1 .prfl-pic,.hdr1 .monogram {
    display: none;
}
.hdr1.pict-purl .prfl-pic{display:block}