.hdr1{display:flex;justify-content:space-between;padding:25px 25px 40px 25px;position:relative;z-index:2;}
.hdr1 .disp-blk{display:block;}
.hdr1 .left-box{width:calc(100% - 127px);}
.hdr1 .left-box{align-self:flex-start;flex-grow:1;}
.hdr1 .name-sec{padding-bottom:10px;position:relative;}
.hdr1 .name{font-size:36px;letter-spacing:1px;line-height:40px;margin-bottom:5px;text-transform:uppercase;word-break:break-word;}
.hdr1 .prof-title{font-size:12px;letter-spacing:1.71px;line-height:16px;text-transform:uppercase;}
.hdr1 .name-sec::after{background:linear-gradient(135deg, #9EC4D9 0%, #A0ABC6 99.97%);bottom:0;content:"";height:1px;left:0;opacity:0.5;position:absolute;width:100%;}
.hdr1 .prfl-pic .field::before{background:linear-gradient(135deg, #9EC4D9 0%, #A0ABC6 99.97%);border-radius:50%;content:"";height:100%;left:0;opacity:0.5;position:absolute;top:0;width:100%;}
.hdr1 .right-box{margin-bottom:-19px;}
.hdr1 .pict-sec{margin-left:30px;}
.hdr1 .prfl-pic .field{border-radius:50%;box-sizing:border-box;}
.hdr1 .prfl-pic .field,.hdr1 .monogram{height:127px;padding:8px;position:relative;width:127px;}
.hdr1 .prfl-pic img{border-radius:50%;height:100%;object-fit:cover;position:relative;width:100%;z-index:3;}
.hdr1 .prfl-pic,.hdr1 .monogram{display:none;}
.hdr1.pict-purl .prfl-pic{display:block;}