body{
  background: #f9f9fb;
}
a{text-decoration:none}

.py10{padding-top:10px;padding-bottom:10px;}
.px15{padding-left:15px;padding-right:15px;}
.container{display:flex;flex-direction:row;justify-content:center;}
.component-page{width:680px;background-color:#fff;}
.document{
  width: 612px;
  margin:auto;
  background:#fff;
}
.sidebar{width:290px;height:calc(100vh - 32px);margin-right:30px;position:fixed;left:0}
.sidebar li{
    list-style:none;
    margin-bottom: 0;
    background: #f9f9f9;
    border: 1px solid #e9e9e9;
    padding: 0 1px;
}
.sidebar li>a {
  display: block;
  padding: 15px;
  border-left: 4px solid transparent;
  color: #303b40;
  font-size: 16px;
  transition: 2s;
}
.sidebar li.active {
  color: #f9991d;
  border-color: #f9991d;
  outline: none;
}
.component-area{background:#f9f9f9;margin:10px}
.row{background:#fff;margin:20px 0;border:1px solid #007582;}
.dispInBlk{display:inline-block}
.title{margin:0;background-color:#007582;color:#fff;font-size:16px;line-height:18px;padding:5px 15px}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
